.navigation {
   display: flex;
   justify-content: space-between;
   padding-top: 3rem;

   &__list {
      width: 45%;
      display: flex;
      justify-content: space-between;
      list-style: none;
      align-items: center;

      @include respond(tab-land) {
         width: 50%;
      }
   }

   &__link {

      &:link,
      &:visited {
         display: inline-block;
         font-family: 'Montserrat', sans-serif;
         font-size: 1.4rem;
         font-weight: 700;
         text-decoration: none;
         color: $color-primary;
         text-transform: uppercase;
         padding-bottom: 0.5rem;
         border-bottom: 1.5px solid transparent;
         transition: border-bottom 0.2s;
      }

      &:hover {
         color: $color-white;
         border-bottom: 1.5px solid $color-white;
         transition: all 0.1s ease;
      }
   }
}