.brands {
   position: relative;
   margin: 0 auto;
   width: 70%;
   display: flex;

   &__logo {
      display: block;
      max-width: 30%;
      margin: auto;
   }
}
.owl-nav {
   width: 0;
}
.brands__arrow {
   position: absolute;
   top: 50%;
   transform: translateY(-50%);
   font-size: 2rem;
}
.brands__arrow--l {
   left: 0;
}
.brands__arrow--r {
   right: 0;
}