.section-services {
   padding: 5rem 0;
}

.section-stripe {
   max-height: 22.5rem;
   padding: 10rem 0;
   background-image: url(../img/stripebg.jpg);
   background-size: cover;
}

.section-projects {
   padding: 5rem 0;
}
